@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800&display=swap');

*{
    padding: 0;
    margin: 5;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
}

.logo{
    position: fixed;
    top: 22px;
    left: 22px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo img{
    width: 48px;
}

.logo a{
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: #464646;
}

h2 {
    margin-top: 85px;
    margin-bottom: 15px;
    text-align: center;
}

.column {
    float: left;
    width: 25%;
    padding: 0 10px;
  }
  

.row {margin: 0 -5px;}
  

.row:after {
    content: "";
    display: table;
    clear: both;
}
  

.card {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 16px;
    text-align: center;
    background-color: white;
    border-radius: 8px;
}
  

p {
    padding: 3px;
}

@media screen and (max-width: 600px) {
.column {
      width: 50%;
      display: block;
      margin-bottom: 20px;
}
}